/* this is the bingo board css */
body {
    font-family: 'Fredoka One', cursive;
}
#squarefree {
    margin: 0 auto;
    background: #00bfff;
    text-align: center;
    font-weight: 600;
    font-size: 15pt;
}
#bingotable {
    margin: 0 auto;
    text-align: center;
    width: 350px;
    height: 350px;
    border-collapse: collapse;
    background: white;
}
th, td {
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    border: 3px solid black;
    width: 20%;
}
.purple {
    background: #9b59b6;
}

.clicked {
    background: #00bfff;
}